body {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 100px 50px;
    width: 70%;
}

.wrapper-header {
    width: 90%;
    /* margin: 0 auto; */
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    flex-flow: row wrap-reverse;
}

.wrapper-header > div {
    padding: 10px;
    /* background: #dbdfe5; */
}

/* .right-header {
    margin-left: auto;
} */

.memoji {
    display: inline-block;
    height: 10vw;
    min-height: 100px;
    max-height: 10rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

.wrapper-header h1{
    font-size: 5rem;;
}

.left-header {
    flex-basis: 65%;
}

.addon {
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    flex-direction: row;
    justify-content: space-between;
    max-width: 555px;
}

/* .location-header {
    justify-self: flex-end;
} */

.left-header > .name{
    white-space:nowrap;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 10vw;
}

.social ul > li {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 3px;;
}

.social > ul {
    padding: 0;
}

.social ul > li > a:link {
    color: black;
  }

.social ul > li > a:visited {
    color: black;
}

.content {
    margin: 0 auto;
}

@media only screen and (min-width:43.75em) { 
    .left-header > .name{
        font-size: 80px;
    }
    
}

@media only screen and (max-width:40em) { 
    body {
        padding: 0;
    }
}