<!DOCTYPE html>

<!doctype html>
<html>
    <head>
        <title>{{page.title}}</title>
        <script src="https://kit.fontawesome.com/ff895bbbe1.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css" }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <div class="wrapper-header">
        <div class="left-header">
            <h1 class="name">George Taylor</h1>
            <div class="addon">
                <div class="social">
                    <ul>
                        <li><a href="https://twitter.com/georgepstaylor"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://github.com/georgepstaylor"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://instagram.com/gps.taylor"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://linkedin.com/in/georgepstaylor/"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>

                </div>
                <div class="location-header">
                    <h3><i class="fas fa-map-marked-alt"></i> Surrey, UK</h3>
                </div>
            </div>
        </div>
        <div class="right-header">
            <img class="memoji" src="{{ "assets/memoji.jpg" | relative_url }}">
        </div>
    </div>
    <div class="content">
        {{ content }}
    </div>
    </body>
</html>