<!DOCTYPE html>

<!doctype html>
<html>

<head>
    <title>{{page.title}}</title>
    <script src="https://kit.fontawesome.com/ff895bbbe1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css" }}">
    <meta charset="utf-8">
    <meta property="og:image" content="https://github.com/georgepstaylor/gpst/blob/master/assets/memoji.jpg?raw=true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script>
    if (document.readyState == "complete") {
        document.getElementsByName('body').classList.remove("preload");
    }
</script>
<body class="preload">
    {% include navigation.html %}
    {{ content}}
</body>

</html>